body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffdbeb;
    color: #333;
  }
  
  .container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  p {
    margin: 10px 0;
    line-height: 1.5;
  }
  
  .btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffe9fa;
    background: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background: #0056b3;
  }
  
  .image {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('img/pusheen.png'); 
    background-size: cover;
    border-radius: 50%;
    animation: moveAround 14s linear infinite;
}

@keyframes moveAround {
    0% {
        top: 0;
        left: 0;
    }
    25% {
        top: 0;
        left: calc(100% - 100px);
    }
    50% {
        top: calc(100% - 100px);
        left: calc(100% - 100px);
    }
    75% {
        top: calc(100% - 100px);
        left: 0;
    }
    100% {
        top: 0;
        left: 0;
    }
}